<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <description></description>
        <servlet-name>Dodaj Aktualność</servlet-name>
        <jsp-file>/panel/aktualnosci/dodaj.jsp</jsp-file>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <description></description>
        <servlet-name>Dodaj Film</servlet-name>
        <jsp-file>/panel/filmy/dodaj.jsp</jsp-file>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <description></description>
        <servlet-name>Dodaj Salę</servlet-name>
        <jsp-file>/panel/sale/dodaj.jsp</jsp-file>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dodaj Aktualność</servlet-name>
        <url-pattern>/panel/aktualnosci/dodaj.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dodaj Film</servlet-name>
        <url-pattern>/panel/filmy/dodaj.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dodaj Salę</servlet-name>
        <url-pattern>/panel/sale/dodaj.jsp</url-pattern>
    </servlet-mapping>
</web-app>
